* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

body {
    background-color: #E9E9E9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 100vh;
}

.First-Image {
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    background-color: white;
    padding: 64px 88px;
    flex: 0.3;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #1D1D1D;
    margin-top: 40px;
    font-weight: 600;
    font-size: 48px;
}

.subtitle {
    color: #606060;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

.container-form {
    display: grid;
    margin-top: 40px;
}
    

.container-form form {
    display: flex;
    flex-direction: column;
}

input {
    flex: 1;
    border: 0;
    border-bottom: 1.8px solid#181818;
    outline: 0;
    gap: 32px;
}
    
#email {
    margin-bottom: 32px;
}
 
.password-span {
    display: flex;
}

.eye-password {
    background: none;
    border: none;
    cursor: pointer;
    min-width: 24px;
    min-height: 15px;
    position: relative;
    padding-left: 70%;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-top: 24px;
}
   
.remember-container {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: #272727;
}
    
.remember-container input {
    width: 16px;
    height: 16px;
    border-radius: 4px; 
    accent-color: #6729FF;
    cursor: pointer; 
}
    
.forgot-password {
    font-size: 14px;
    color: #676767;
    text-decoration: none;
    cursor: pointer;
}
    
.button {
    border-radius: 32px;
    font-size: 16px;
    font-weight: medium;
    padding: 16px;
    cursor: pointer;
    min-width: 376px;
    min-height: 51px;
    border: none;
}

.button1 {
    margin-top: 40px;
    color: white;
    background-color: #1D1D1D;
}

.button2 {
    margin-top: 24px;
    text-decoration: none;
    color: #1D1D1D;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    color: #1D1D1D;
}

.footer p {
    font-size: 14px;
}

.footer a {
    color: #1D1D1D;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width:1032px){
    .First-Image {
        display: none;
    }

    .container-login {
        flex: 1;
    }
}